<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Start Bootstrap</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a class="page-scroll" href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Section -->
<section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Responsive grid generator</h1>
                <p class="lead">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
            </div>
        </div>
    </div>
</section>

<!-- View Section -->
<section class="main-section">
    <div class="container">

        <h2 id="dropdowns">Build your grid</h2>
        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>

        <div class="row">
            <div class="col-xs-4">
                <label for="input-@padding-base-vertical">@max-width</label>
                {{input value=maxWidth class="form-control"}}
                <p class="help-block">The maximum width for your grid</p>
            </div>
            <div class="col-xs-4">
                <label for="input-@padding-base-horizontal">@mobile-breakpoint</label>
                {{input value=breakpoint class="form-control"}}
                <p class="help-block">breakpoint for mobiles, just change this value if you know what you are doing</p>
            </div>
            <div class="col-xs-4">
                <label for="input-@padding-large-vertical">@gap-size: {{gap}}</label>
                {{input type="range" value=gap min=0 max=100 step=2}}
                <p class="help-block">The space between rows and columns</p>
            </div>
        </div>
    </div>
</section>

<section class="stage-section">

    <div id="main">
        {{component "main-grid" maxWidth=maxWidth rows=rows gap=gap}}
    </div>

    {{component "grid-tools" target=selectedItem delete="removeRow"}}
		
    <button {{action "addRow"}} class="btn btn-default add-row-button">ADD ROWS</button>
    <div class="media-query-opt">
        MEDIA QUERY SUPPORT <button {{action "toggleMediaQuerySupport"}} class="btn">{{mediaQuerySupport}}</button>
    </div>
</section>

<!-- Code Section -->
<section class="code-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Voilá, the code</h2>
                <div id="code"></div>
            </div>
        </div>
    </div>
</section>
